body {
    background-color: #2F3237;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}




.characters {
    width: 50px;
    padding: 15px;
    background: transparent;
}



.wordInput {
    /* background-color: #363a3f; */
    padding: 5%;
    
}

.word { 
    display: flex;
}

input {
    text-align: center;
    font-size: 30px;
    color: white;
}

button {
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    font-size:25px;
    border: 3px black solid;
    border-radius: 5%;
}
button:hover {
    opacity: .5;
}

span {
    padding: 10px;
}

.display {
    display: flex;
    flex-direction: column ;
    border: gray solid 2px;
    /* width: 20%; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}